<header>
  <h2 class="header__profile">Profile</h2>
  <p class="description__profile">Im a creative webdeveloper</p>
</header>
<div class="grid grid--1×3">
  <div>
    <h3 class="block__header">Details</h3>
    <h3 class="block__heading">Name:</h3>
    <p class="block__description">Zara Nix</p>
    <h3 class="block__heading">Age:</h3>
    <p class="block__description">25 years</p>
    <h3 class="block__heading">Location:</h3>
    <p class="block__description">Germany</p>
  </div>
  <div>
    <h3 class="block__header">About me</h3>
    <p class="block__description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae quos
      repudiandae debitis ab adipisci, atque delectus aspernatur veritatis
      dolores neque accusamus et nam, voluptatibus ea laborum laudantium
      consectetur perferendis corporis soluta maxime dolore dicta illo
      reprehenderit error? Perspiciatis, minima quisquam!
    </p>
    <button class="btn btn--outline">Contact me</button>
  </div>

  <div class="block block--accent">
    <img class="block__img" src="images/zaranix.jpeg" alt="" />
    <div class="block__content">
      <h3 class="block__header">HELLO, IM PATRYCJA</h3>
      <p class="block__description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae quos
        repudiandae debitis ab adipisci, atque delectus aspernatur veritatis
        dolores neque accusamus et nam, voluptatibus ea laborum laudantium
        consectetur perferendis corporis soluta maxime dolore dicta illo
        reprehenderit error? Perspiciatis, minima quisquam!
      </p>
    </div>
  </div>
</div>
